@font-face {
    font-family: 'NanumSquare_acB';
    src: url('../font/NanumSquare_acB.eot');
    src: url('../font/NanumSquare_acB.eot?#iefix') format('embedded-opentype'),
        url('../font/NanumSquare_acB.woff2') format('woff2'),
        url('../font/NanumSquare_acB.woff') format('woff'),
        url('../font/NanumSquare_acB.ttf') format('truetype'),
        url('../font/NanumSquare_acB.svg#NanumSquare_acB') format('svg');
    font-weight: bold;
    font-style: normal;
}