.friendLong {
    border-style: solid;
    border-color: rgba(223, 223, 223, 0.5);
    border-width: thin;
    width: 100%;
    display: block;
    position: absolute;
    top: -20px;
}

.constantine {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    display: table;
    box-sizing: border-box;
}

.onlyconstantine {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.lefthings {
	width: 50%;
    position: relative;
    border-right-style: solid;
    border-right-color: rgba(223, 223, 223, 0.5);
    border-right-width: thin;
    display: table-cell;
}

.thing {
	width: 50%;
    position: relative;
    border-right-style: solid;
    border-right-color: rgba(223, 223, 223, 0.5);
    border-right-width: thin;
}

.righthings {
	width: 50%;
    position: relative;
    border-left-style: solid;
    border-left-color: rgba(223, 223, 223, 0.5);
    border-left-width: thin;
    display: table-cell;
}

.nickname {
	font-size: 17px;
	font-family: 'NanumSquare_acB', Arial, sans-serif;
}

.line1 {
	padding-top: 8px;
	margin-left: 30px;
	padding-bottom: 8px;
}

.report {
	color: #CBCBCB;
	font-size: 17px;
	font-family: 'NanumSquare_acB', Arial, sans-serif;
}

.line2 {
	width: calc(100% - 32px);
	padding-top: 8px;
	margin-left: 32px;
	padding-bottom: 8px;
	display: block;
	min-height: 50px;
}

.text {
	display: inline-block;
	word-break: break-all;
	position: relative;
	padding-left: 28px;
	width: calc(100% - 155px);
	font-size: 17px;
	font-family: 'NanumSquare_acB', Arial, sans-serif;
}

hr.nick_report {
	display: inline-block;
	height: 12px;
	width: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 8px;
	margin-right: 8px;
	border: 1px solid lightgray;
}

.smallHeartCover {
	display: inline-block;
	position: absolute;
}

.smallHeart {
	position: relative;
	z-index: 1;
	width: 10px;
	height: 10px;
	display: inline-block;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color: #9B9B9B;
}

.smallHeart:before,
.smallHeart:after {
	position: absolute;
	width: 10px;
	height: 10px;
	content: '';
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background-color: #9B9B9B;
}

.smallHeart:before {
	bottom: 0px;
	left: -5px;
}

.smallHeart:after {
	top: -5px;
	right: 0px;
}

.crown {
	position: absolute;
	margin-left: 42px;
	margin-top: -35px;
	background-image: url('../assets/BestCrown.png');
	background-repeat: no-repeat;
    background-size: 100%;
	width: 35px;
	height: 26px;
	z-index: 2;
}

.bigHeartText {
	position: absolute;
	width: 35px;
	color: white;
	text-align: center;
	right: 0px;
    top: 0px;
    margin-right: 51px;
    margin-top: 40px;
	z-index: 3;
	font-size: 17px;
	font-family: 'NanumSquare_acB', Arial, sans-serif;
}

.heartSVG {
	position: absolute;
	display: inline-block;
	right: 0px;
	top: 0px;
	width: 95px;
	margin-right: 20px;
	z-index: 1;
	fill: #CCCCCC;
}

.bigHeartMain {
	position: relative;
	width: 33px;
	height: 33px;
	display: inline-block;
	margin: 0px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color: #CCCCCC;
}

.bigHeartBefore,
.bigHeartAfter {
	position: absolute;
	display: inline-block;
	width: 34px;
	height: 34px;
	content: '';
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background-color: #CCCCCC;
	z-index: 1;
}

.bigHeartBefore {
	right: 11px;
	top: -13px;
}

.bigHeartAfter {
	left: 11px;
	top: -13px;
}

.yestantine{
	position: relative;
	width: 430px;
	left: 50%;
	transform: translate(-50%);
}

.yeslong{
	position: relative;
	width: 430px;
	top: 9px;
	background-color: #E1E1E1;
	border-top: #E1E1E1 1px solid;
	margin-left: 0px;
}

.yescrown {
	display: inline-block;
	position: relative;
	padding-left: 1px;
	left: 1px;
	top: 13px;
	padding-top: 13px;
	background-image: url('../assets/BestCrown.png');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 28px;
	height: 20px;
}

.yesnickname{
	display: inline-block;
	position: relative;
	margin-left: 6.5px;
	font-size: 18px;
	width: 50%;
	top: -3px;
	font-family: 'NanumSquare_acB', Arial, sans-serif;
}

.yestext {
	display: inline-block;
	word-break: break-all;
	position: relative;
	padding-left: 24px;
	padding-top: 13px;
	width: calc(100% - 45px);
	font-size: 16.5px;
	font-family: 'NanumSquare_acB', Arial, sans-serif;
}

.yeshearts {
	position: absolute;
	display: inline-block;
    margin-top: 18px;
	margin-left: 130px;
}

.yeshearttext {
	display: inline-block;
	padding-right: 8px;
	font-size: 17px;
	font-family: 'NanumSquare_acB', Arial, sans-serif;
	color: #909090;
}

.yessmallHeartCover {
	display: inline-block;
}

.yessmallHeart {
	position: relative;
	z-index: 1;
	width: 10px;
	height: 10px;
	display: inline-block;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color: #FF8174;
}

.yessmallHeart:before,
.yessmallHeart:after {
	position: absolute;
	width: 10px;
	height: 10px;
	content: '';
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background-color: #FF8174;
}

.yessmallHeart:before {
	bottom: 0px;
	left: -5px;
}

.yessmallHeart:after {
	top: -5px;
	right: 0px;
}